
.div_menu{
  width: 60%;
  height: 35px;  
  position: relative;
  text-align: center;
}

.contenedor{
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    
    background-color: white; // V1.0
    
}

      h1{
          font-family: "Comic Sans MS";
          font-size: 15pt;
      }
      h2{
          //font-family: "Gabriola";
          font-family: "Comic Sans MS";
          font-size: 20pt;
          color: #4F6D10;
      }
      fieldset{
          border-radius: 15px;
      }
      
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
      border: 1px solid #ccc;
     border-radius: 15px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
    border: 1px solid white;
    border-radius: 5px;
}

p{
    width: 500px;
    margin: auto;
   // text-align: center;
   text-align: justify;
    font-size: 20pt;
}
